<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/fragment::header"></head>
<meta charset="UTF-8" />
<title>新闻查看</title>

<!-- 引入首页专用css -->
<link rel="stylesheet" th:href="@{/css/index/als.css}"></link>
<link rel="stylesheet"
	th:href="@{/css/index/css_ZMU3UE0dIphlfVSk-q-5k_WOh8MhxPuoneI-pzJRhMs.css}"></link>
<link rel="stylesheet"
	th:href="@{/css/index/css_g_UneL04I_By-JV5ryZJJWsDW1p5XeBj7jW6RhipZ48.css}"></link>
<link rel="stylesheet" th:href="@{/css/index/font-awesome.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/index/index-v1.css}"></link>

<style type="text/css">
body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>

<body>
	<div id="page-wrapper">
		<div class="page container" id="home-page">
			<div class="site-navigation">
				<!-- begin-editable globalnav-block -->
				<nav class="global-nav" role="navigation">
					<ul class="menu">
						<li>
							<ul class="panel">
								<li class="expanded" id="ath-menu"><a href="/">首页</a></li>

							</ul>
						</li>

						<li id="utility-nav">
							<ul>
								<a th:href="@{/admin/index}"
									th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">我的工作台</a>
								<li id="nav-logout"><a th:href="@{/common/view-logout}"
									th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">注销</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>

			</div>
			<!-- begin content -->

			<div id="content">
				<div id="micro-template">


					<!-- begin content -->
					<section id="news-features" class="box box-article">


						<div class="region">
							<div class="custom-block">

								<!-- start main content -->
								<div class="main-content" id="main-content">


									<div class="region region-content">
										<div id="block-system-main" class="block block-system">
											<div class="content">
												<h2 class="section"
													th:text="${newsTypeMapper.getNewsTypeById(dto.news.newsType).newsType}"></h2>
												<div id="page-content" class="page-content">
													<h1 class="article-title" th:text="${dto.news.title}"></h1>

													<div class="article-meta">
														<p class="date">
															<a href="#" th:text="${dto.user.name}">拟稿人</a> 2018-03-30
															18:03 &nbsp; 点击<label th:text="${dto.news.hitCount}"></label>&nbsp;
														</p>
													</div>
													<div
														class="field field-name-body field-type-text-with-summary field-label-hidden">
														<div class="field-items">
															<div id="articleContent" class="field-item even"
																property="content:encoded">
																[[${dto.news.content}]]</div>
														</div>
													</div>
													<div class="article-meta">
														<p>附件：</p>
														<br /> <a href="#"
															th:if="${dto.news.fileName!=null or dto.news.fileName!=''}"
															th:href="'/common/download-attachment?fileName='+${dto.news.fileName}">点击下载</a>

													</div>
												</div>
											</div>
										</div>
									</div>


								</div>
								<!-- end main content -->

								<!-- start aside -->
								<aside class="section-aside">
									<div class="region region-sidebar-first">
										<div id="block-menu-block-8" class="block block-menu-block">

											<h2>新闻中心</h2>

											<div class="content">
												<div
													class="menu-block-wrapper menu-block-8 menu-name-menu-news-menu parent-mlid-0 menu-level-2">
													<ul class="menu">
														<li><a href="catalog.do?id=0">全部动态</a></li>

														<li class=""><a class="active"
															th:each="type,typeStat :${dto.newsTypes}"
															th:href="${'news-catelog?id='+type.id}"
															th:if="${type.id==dto.news.newsType}"
															th:text="${type.newsType}">公司新闻</a></li>
														<li class=""><a class=""
															th:each="type,typeStat :${dto.newsTypes}"
															th:href="${'news-catelog?id='+type.id}"
															th:text="${type.newsType}">公司新闻</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</aside>
								<!-- /#sidebar-first -->
								<!-- end aside -->

							</div>
						</div>
						<!-- .region -->

					</section>
					<!-- end content -->

				</div>
				<!-- end #micro-template -->
			</div>

			<!-- end content -->

			<!-- start supplementary content -->

			<!-- end supplementary content -->

		</div>
		<!-- end .page -->

	</div>


</body>
<script th:inline="javascript" type="text/javascript">
	$("#articleContent").html([[${dto.news.content}]]);
</script>
</html>