<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/fragment::header"></head>
<meta charset="UTF-8" />
<title>新闻查看</title>

<!-- 引入首页专用css -->
<link rel="stylesheet" th:href="@{/css/index/als.css}"></link>
<link rel="stylesheet"
	th:href="@{/css/index/css_ZMU3UE0dIphlfVSk-q-5k_WOh8MhxPuoneI-pzJRhMs.css}"></link>
<link rel="stylesheet"
	th:href="@{/css/index/css_g_UneL04I_By-JV5ryZJJWsDW1p5XeBj7jW6RhipZ48.css}"></link>
<link rel="stylesheet" th:href="@{/css/index/font-awesome.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/index/index-v1.css}"></link>

<style type="text/css">
body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>

<body>
	<div id="page-wrapper">
		<div class="page container" id="home-page">
			<div class="site-navigation">
				<!-- begin-editable globalnav-block -->
				<nav class="global-nav" role="navigation">
					<h2 class="sr-only element-invisible">全局导航</h2>
					<ul class="menu">
						<li><a id="shortcuts-item" href="#">快速导航</a>
							<ul class="panel">
								<li class="expanded" id="ath-menu"><a href="/">首页</a></li>

							</ul></li>

						<li id="utility-nav">
							<ul>
								<a th:href="@{/admin/index}"
									th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">admin_我的工作台</a>

								<li id="nav-search"><a href="/portal/index.do">我的工作台</a></li>
								<li id="nav-logout"><a href="/j_spring_security_logout">退出</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>

			</div>
			<!-- begin content -->

			<div id="content">
				<div id="micro-template">


					<!-- begin content -->
					<section id="news-features" class="box box-article">


						<div class="region">
							<div class="custom-block">

								<!-- start main content -->
								<div class="main-content" id="main-content">


									<div class="region region-content">
										<div id="block-system-main" class="block block-system">
											<div class="content">
												<h2 class="section">类别</h2>
												<div id="page-content" class="page-content">
													<h1 class="article-title">标题</h1>

													<div class="article-meta">
														<p class="date">
															<a href="/pim/address-list-list.do?username=刘凯">拟稿人</a> •
															2018-03-30 18:03 &nbsp;点击8&nbsp;
														</p>
													</div>
													<div
														class="field field-name-body field-type-text-with-summary field-label-hidden">
														<div class="field-items">
															<div id="articleContent" class="field-item even"
																property="content:encoded">
																<div class="article">
																	<h5>
																		<a href="article.do?id=1101355436146688">【党建园地】信息化党支部《厉害了我的国》观影座谈及党课</a>
																	</h5>


																	<p class="views-field views-field-created article-info">
																		龙帆 • 2018-04-02 11:45:01 <span>点击8&nbsp;评论0</span>
																	</p>
																</div>
																<div class="article">
																	<h5>
																		<a href="article.do?id=1101355436146688">【党建园地】信息化党支部《厉害了我的国》观影座谈及党课</a>
																	</h5>


																	<p class="views-field views-field-created article-info">
																		龙帆 • 2018-04-02 11:45:01 <span>点击8&nbsp;评论0</span>
																	</p>
																</div>
																<div class="article">
																	<h5>
																		<a href="article.do?id=1101355436146688">【党建园地】信息化党支部《厉害了我的国》观影座谈及党课</a>
																	</h5>


																	<p class="views-field views-field-created article-info">
																		龙帆 • 2018-04-02 11:45:01 <span>点击8&nbsp;评论0</span>
																	</p>
																</div>
																<div class="article">
																	<h5>
																		<a href="article.do?id=1101355436146688">【党建园地】信息化党支部《厉害了我的国》观影座谈及党课</a>
																	</h5>


																	<p class="views-field views-field-created article-info">
																		龙帆 • 2018-04-02 11:45:01 <span>点击8&nbsp;评论0</span>
																	</p>
																</div>
																<div class="article">
																	<h5>
																		<a href="article.do?id=1101355436146688">【党建园地】信息化党支部《厉害了我的国》观影座谈及党课</a>
																	</h5>


																	<p class="views-field views-field-created article-info">
																		龙帆 • 2018-04-02 11:45:01 <span>点击8&nbsp;评论0</span>
																	</p>
																</div>
																<div class="article">
																	<h5>
																		<a href="article.do?id=1101355436146688">【党建园地】信息化党支部《厉害了我的国》观影座谈及党课</a>
																	</h5>


																	<p class="views-field views-field-created article-info">
																		龙帆 • 2018-04-02 11:45:01 <span>点击8&nbsp;评论0</span>
																	</p>
																</div>
																<div class="article">
																	<h5>
																		<a href="article.do?id=1101355436146688">【党建园地】信息化党支部《厉害了我的国》观影座谈及党课</a>
																	</h5>


																	<p class="views-field views-field-created article-info">
																		龙帆 • 2018-04-02 11:45:01 <span>点击8&nbsp;评论0</span>
																	</p>
																</div>
																<div class="article">
																	<h5>
																		<a href="article.do?id=1101355436146688">【党建园地】信息化党支部《厉害了我的国》观影座谈及党课</a>
																	</h5>


																	<p class="views-field views-field-created article-info">
																		龙帆 • 2018-04-02 11:45:01 <span>点击8&nbsp;评论0</span>
																	</p>
																</div>
																<div class="article">
																	<h5>
																		<a href="article.do?id=1101355436146688">【党建园地】信息化党支部《厉害了我的国》观影座谈及党课</a>
																	</h5>


																	<p class="views-field views-field-created article-info">
																		龙帆 • 2018-04-02 11:45:01 <span>点击8&nbsp;评论0</span>
																	</p>
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>


								</div>
								<!-- end main content -->

								<!-- start aside -->
								<aside class="section-aside">
									<div class="region region-sidebar-first">
										<div id="block-menu-block-8" class="block block-menu-block">

											<h2>
												<a href="/cms/index.do" class="active-trail">新闻中心</a>
											</h2>

											<div class="content">
												<div
													class="menu-block-wrapper menu-block-8 menu-name-menu-news-menu parent-mlid-0 menu-level-2">
													<ul class="menu">
														<li><a href="catalog.do?id=0">全部动态</a></li>
														<li class=""><a class="" href="catalog.do?id=1">公司新闻</a></li>
														<li class=""><a class="" href="catalog.do?id=2">人力资源</a></li>
														<li class=""><a class="" href="catalog.do?id=4">党务公开</a></li>
														<li class=""><a class="" href="catalog.do?id=5">创新专栏</a></li>
														<li class="active"><a class="active"
															href="catalog.do?id=6">工会园地</a></li>
														<li class=""><a class="" href="catalog.do?id=7">业务通知</a></li>
														<li class=""><a class="" href="catalog.do?id=8">公文培训</a></li>
														<li class=""><a class="" href="catalog.do?id=3">公司要闻</a></li>
														<li class=""><a class="" href="catalog.do?id=9">案件通报</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</aside>
								<!-- /#sidebar-first -->
								<!-- end aside -->

							</div>
						</div>
						<!-- .region -->

					</section>
					<!-- end content -->

				</div>
				<!-- end #micro-template -->
			</div>

			<!-- end content -->

			<!-- start supplementary content -->

			<!-- end supplementary content -->

		</div>
		<!-- end .page -->

	</div>


</body>
</html>