<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta content="text/html;charset=UTF-8" />
<title>管理员</title>
<link rel="stylesheet" th:href="@{/css/bootstrap/3.3.1/css/bootstrap.min.css}" />
<!-- jquery -->
<script type='text/javascript' th:src='@{/js/jquery/1.11.3/jquery.min.js}'></script>
<style type="text/css">
body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>
<script type="text/javascript">
	function modify(){
		var username=$("#username").val();
		var name=$("#name").val();
		var telephone=$("#telephone").val();
		
		if(name == "" || telephone==null){
			alert("请填写完整");
		}
		
		 $.post(
				 "/admin/update-person-info",
		 	{
		 		username:username,
		 		name:name,
		 		telephone:telephone
		 	},function(date){
		 		alert(date);
		 		
		 	}	 
		 
		 );
		
	}
</script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">公务员报考系统</a>
			</div>
			
		</div>
	</nav>
	<div>
		<a href="/admin/index">个人信息</a>
		<a href="/admin/user-list">人员信息</a>
	</div>


	<div>
		<form action="/admin/update-person-info">
			用户邮箱：<input id="username" th:value="${user.username}" name="username" readonly="readonly"/>
			<br/>
			用户姓名：<input id="name" name="name" th:value="${user.name}"/>
			<br/>
			用户电话：<input id="telephone" name="telephone" th:value="${user.telephone}"/>
			<br/>
					<input type="button" value="修改" onclick="modify()"/>
		</form>
		
	
	</div>


	<div style="float: right;">
		<!-- 没有登录，显示登录注册，否则显示欢迎您 -->
		<a th:href="@{/common/view-login}" th:if="${!#authorization.expression('isAuthenticated()')}">登录</a>
		<a th:href="@{/common/veiw-register}" th:if="${!#authorization.expression('isAuthenticated()')}">注册</a>
		<a th:href="@{/common/view-logout}" th:if="${#authorization.expression('isAuthenticated()')}">注销登录</a>
		
	</div>
	
	
	
	
</body>
</html>