<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/common/fragment::header"></head>
<meta content="text/html;charset=UTF-8" />
<title>修改密码</title>

<!-- jquery -->
<style type="text/css">
body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>
<script type="text/javascript">
	function modify() {
		var oldPassword = $("#oldPassword").val();
		var newPassword = $("#newPassword").val();
		var newPassword2 = $("#newPassword2").val();
		
		if(newPassword != newPassword2){
			alert("两次密码输入不一致");
			return;
		}
		
		if (oldPassword == "" || newPassword == null || newPassword2 ==null) {
			alert("请填写完整");
			return;
		}

		$.post("/admin/modify-password", {
			oldPassword:oldPassword,
			newPassword:newPassword
		}, function(data) {
			
			if(data == 'ok'){
				alert(data);
				self.location='/';
			}else{
				alert(data);
			}
			
		}

		);

	}
</script>

<body>
	<div th:replace="/common/fragment::top"></div>
	<div class="row-fluid">
		<div th:replace="/common/fragment::menu"></div>
		<!-- start of main -->
		<section id="m-main" class="col-md-10 col-md-offset-2"
			style="margin-top: 35px;">
			<div class="panel panel-default">
				<div class="panel-heading">修改密码</div>
				<div class="panel-body">
					<form id="pimRemindForm" method="post" action="/admin/modify-password"
						class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-1" for="pimRemind_repeatType">原密码</label>
							<div class="col-sm-5">
								<input id="oldPassword" type="text" name="oldPassword" class="form-control required"
									minlength="2" maxlength="50" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-1" for="pimRemind_repeatType">新密码</label>
							<div class="col-sm-5">
								<input id="newPassword" type="password" name="newPassword"
									class="form-control required"
									minlength="2" maxlength="50" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-1" for="pimRemind_description">再次确认新密码</label>
							<div class="col-sm-5">
								<input id="newPassword2" type="password" name="newPassword2"
									 class="form-control required"
									minlength="2" maxlength="50" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-1 col-md-11">
								<button type="button" class="btn btn-default a-submit" onclick="modify()">
									保存
								</button>
								&nbsp;
								<button type="button" class="btn btn-link a-cancel"
									onclick="history.back();">
									返回
								</button>
							</div>
						</div>
					</form>
				</div>

			</div>

		</section>
		<!-- end of main -->
	</div>

</body>
</html>