<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.jun.mapper.UserMapper">
	<select id="findByUserName"  resultType="com.jun.model.User" parameterType="String">
	   SELECT * FROM user u WHERE u.`username`=#{username};
	</select>

	<insert id="addNewUser" parameterType="String">
		insert into user(username,password,u_enabled,validate) values(#{0},#{1},0,#{2});
	</insert>

	<select id="selectUsernameCount" resultType="java.lang.Integer" parameterType="String">
		select count(*) from user u where u.username=#{username};
	</select>
	
	
	<select id="getLimitUsers" resultType="com.jun.model.User" >
		select * 
		from user 
		where username like "%"#{searchEmail}"%"
		and name like "%"#{searchName}"%" 
		limit #{start},#{length}
	</select>
	
	
	
	<select id="getAllFilterUsers" resultType="java.lang.Integer" >
		select count(*) 
		from user 
		where username like "%"#{searchEmail}"%"
		and name like "%"#{searchName}"%" 
	</select>
</mapper>