<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jun.mapper.ApplicantInfoMapper">

	
	<insert id="addNewApplicantInfo" parameterType="com.jun.model.ApplicantInfo">
		insert into
		applicant_info(username,positionId,name,sex,nation,birth_date,face,join_party_time,highest_education,graduated_university,graduated_time,degree,university_department,registration_before_university,work_place,work_property,work_name,work_content,base_work_time,student_property,marital_status,personal_file_storage_unit,major,place_of_origin,place_of_household_registration,postal_address,postal_num,telephone,mobile_phone,email,study_experience,work_experience,rewards,medical_history,academic_achievement,paper_situation,internship_experience,home_status,other,target)
		values(#{username},#{positionId},#{name},#{sex},#{nation},#{birthDate},#{face},#{joinPartyTime},#{highestEducation},#{graduatedUniversity},#{graduatedTime},#{degree},#{universityDepartment},#{registrationBeforeUniversity},#{workPlace},#{workProperty},#{workName},#{workContent},#{baseWorkTime},#{studentProperty},#{maritalStatus},#{personalFileStorageUnit},#{major},#{placeOfOrigin},#{placeOfHouseholdRegistration},#{postalAddress},#{postalNum},#{telephone},#{mobilePhone},#{email},#{studyExperience},#{workExperience},#{rewards},#{medicalHistory},#{academicAchievement},#{paperSituation},#{internshipExperience},#{homeStatus},#{other},#{target})
	</insert>


	<select id="getAllApplicantInfoByUsername">
		select id,positionId target from applicant_info where username=#{username}
	</select>


</mapper>