<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/common/fragment::header"></head>
<meta content="text/html;charset=UTF-8" />
<title>已申请职位列表</title>

<!-- jquery -->
<style type="text/css">
body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>


<script type="text/javascript">
	function modify() {
		var username = $("#username").val();
		var name = $("#name").val();
		var telephone = $("#telephone").val();

		if (name == "" || telephone == null) {
			alert("请填写完整");
			return;
		}

		$.post("/admin/update-person-info", {
			username : username,
			name : name,
			telephone : telephone
		}, function(date) {
			alert(date);

		}

		);

	}

	$(function() {
		$("#xform .input-group.date").datepicker({
			format : "yyyymm",
			startView : "months",
			minViewMode : 'months',
			language : "zh_CN"
		});

	})
</script>

<body>


	<div id="myModal" class="modal fade" data-keyboard="false"
		data-backdrop="static" data-role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div id="loading" class="loading">校验中。。。</div>
	</div>

	<div th:replace="/common/fragment::top"></div>
	<div class="row-fluid">
		<div th:replace="/common/fragment::menu"></div>
		<!-- start of main -->
		<section id="m-main" class="col-md-10 col-md-offset-2"
			style="padding-top: 35px;">

			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="glyphicon glyphicon-list"></i> 已申请职位列表

				</div>
				<table id="pimRemindGrid" class="table table-hover">
					<thead>
						<tr>

							<th class="sorting" width="33%">序号</th>
							<th width="33%">职位名称</th>
							<td width="33%">状态</td>
						</tr>
					</thead>

					<tbody>

						<tr th:each="user,userStat :${list}">
							<td th:text="${userStat.index+1}">序号</td>


							<td th:if="${user.target==0}" th:text="${user.positionName}">修改</td>
							<td th:if="${user.target==1}"><a
								th:href="${'/user/view-user-apply-result"
								th:text="${user.positionName}"></a></td>

							<td th:if="${user.target==1}">已审核通过</td>
							<td th:if="${user.target==0}">待审核</td>

						</tr>
					</tbody>
				</table>
			</div>



		</section>
	</div>
	<!-- end of main -->
</body>
</html>