<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/common/fragment::header" ></head>
<meta content="text/html;charset=UTF-8" />
<title sec:authentication="name"></title>
<style type="text/css">
body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">公务员报考系统</a>
			</div>
			
		</div>
	</nav>

	<div style="float: right;">
		<!-- 没有登录，显示登录注册，否则显示欢迎您 -->
		<a th:href="@{/common/view-login}" th:if="${!#authorization.expression('isAuthenticated()')}">登录</a>
		<a th:href="@{/common/veiw-register}" th:if="${!#authorization.expression('isAuthenticated()')}">注册</a>
		<a th:href="@{/common/view-logout}" th:if="${#authorization.expression('isAuthenticated()')}">注销登录</a>
		<h3 th:if="${#authorization.expression('isAuthenticated()')}" >欢迎您：</h3><h3 th:if="${#authorization.expression('isAuthenticated()')}" sec:authentication ='principal.username'></h3>
		
		
		<a th:href="@{/admin/index}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">admin_我的工作台</a>
		<a th:href="@{/admin/index}" th:if="${#authorization.expression('hasRole(''ROLE_PUBLISHER'')')}">publisher_我的工作台</a>
		<a th:href="@{/admin/index}" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">user_我的工作台</a>
		<input  th:value="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"/>
		
		<a th:href="@{/admin/info}" th:if="${#authorization.expression('hasRole(''PERMISSION_ADMIN'')')}">PERMISSION_ADMIN_我的工作台</a>
	</div>
	<h1>这是首页</h1>
	
	
	
	
</body>
</html>