<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<title>首页</title>
<link rel="stylesheet" href="/css/index/css/semantic.css" media="screen"
	title="no title" charset="utf-8" />
<link rel="stylesheet" href="/css/index/css/index.css" media="screen"
	title="no title" charset="utf-8" />
	
<style type="text/css">
.spanCreateTime0{
	color: black;
	font-size: 10px;
	padding-left: 111px;
}
.spanCreateTime1{
	color: black;
	font-size: 10px;
	padding-left: 49px;
}
.spanHitCount{
	color: black; 
	float: right; 
	font-size: 10px;
}

</style>
</head>
<body>
	<div class="ui red basic segment  topmenu">
		<div class="ui borderless menu container"
			style="border: 0; box-shadow: none;">
			<div class="header item" style="margin-right: 10px;">
				<div class="ui image">
					<img src="/common/logo.jpg" alt="" />
				</div>
			</div>
			<div class="item" style="margin-right: 10px;">
				<a href="/">首页</a>
			</div>
			<div class="item" style="margin-right: 10px;">
				<a href="/">招考公告</a>
			</div>
			<div class="item" style="margin-right: 10px;">
				<a href="/">政策法规</a>
			</div>
			<div class="item" style="margin-right: 10px;">
				<a href="/">常见问题</a>
			</div>
			<div class="item" style="margin-right: 10px;">
				<a href="/">招考职位</a>
			</div>
			<div class="item" style="margin-right: 10px;">
				<a href="/">相关下载</a>
			</div>
			<div class="item" style="margin-right: 10px;">
				<a href="/">公告公示</a>
			</div>


			<div class="right menu login">
				<div class="item" th:if="${user==null}">
					<a href="/common/view-login"><div class="ui image">
							<img src="/css/index/images/index/login.png" alt="" />
						</div>
						<p style="margin-right: 10px; margin-top: 6px; color: black;">登录</p>
					</a>

				</div>
				<div class="item" th:if="${user==null}">
					<a href="/common/view-register">
						<div class="ui image">
							<img src="/css/index/images/index/register.png" alt="" />
						</div>
						<p style="color: black;">注册</p>
					</a>

				</div>
				<div class="item" th:if="${user!=null}">
					<a href="/info/index">
						<div class="ui image">
							<img src="/css/index/images/index/register.png" alt="" />
						</div>
						<p style="color: black;">管理员</p>
					</a>

				</div>
				<div class="item" th:if="${user!=null}">
					<a href="/common/view-logout">
						<div class="ui image">
							<img src="/css/index/images/index/register.png" alt="" />
						</div>
						<p style="color: black;">注销登录</p>
					</a>

				</div>
			</div>
		</div>
	</div>


	<div class="ui basic segment body container">
		<div class="ui basic segment container topcontent"
			style="border: none;">
			<div class="ui horizontal basic segments"
				style="border: none; height: 500px;">
				<div class="ui basic segment topleft">
					<h6 th:text="${index.part0.name}">首页</h6>
					<div class="ui segment bestlast"
						th:each="item,itemStat :${index.part0.list}">
						<img src="/css/index/images/index/Triangle.png" alt="" /> <a
							th:text="${item.title}"
							th:href="${'/common/news-view?id='+item.id}"></a>
						<div style="margin-top: 18px;">
							<span class="spanCreateTime0"
								th:text="${item.createTime}" ></span> <span
								class="spanHitCount"
								th:text="${'阅读量：'+item.hitCount}"></span>
						</div>

					</div>
					<a th:href="${'/common/news-catelog?id='+index.part0.id}">更多</a>
				</div>



				<div class="ui basic segment topleft">
					<h6 th:text="${index.part1.name}">首页</h6>
					<div class="ui segment bestlast"
						th:each="item,itemStat :${index.part1.list}">
						<img src="/css/index/images/index/Triangle.png" alt="" /> <a
							th:text="${item.title}"
							th:href="${'/common/news-view?id='+item.id}"></a>
						<div style="margin-top: 18px;">
							<span class="spanCreateTime0"
								th:text="${item.createTime}" ></span> <span
								class="spanHitCount"
								th:text="${'阅读量：'+item.hitCount}"></span>
						</div>
					</div>
					<a th:href="${'/common/news-catelog?id='+index.part1.id}">更多</a>
				</div>

			</div>


			<div class="ui horizontal basic segments"
				style="border: none; height: 500px;">
				<div class="ui basic segment topleft"
					style="padding-left: 0px; width: 240px;">
					<h6 th:text="${index.part2.name}">首页</h6>
					<div class="ui segment bestlast"
						th:each="item,itemStat :${index.part2.list}">
						<img src="/css/index/images/index/Triangle.png" alt="" /> <a
							th:text="${item.title}"
							th:href="${'/common/news-view?id='+item.id}"></a>
						<div style="margin-top: 18px;">
							<span class="spanCreateTime1"
								th:text="${item.createTime}"></span> <span
								class="spanHitCount"
								th:text="${'阅读量：'+item.hitCount}"></span>
						</div>
					</div>
					<a th:href="${'/common/news-catelog?id='+index.part2.id}">更多</a>
				</div>



				<div class="ui basic segment topleft"
					style="padding-left: 0px; width: 240px;">
					<h6 th:text="${index.part3.name}">首页</h6>
					<div class="ui segment bestlast"
						th:each="item,itemStat :${index.part3.list}">
						<img src="/css/index/images/index/Triangle.png" alt="" /> <a
							th:text="${item.title}"
							th:href="${'/common/news-view?id='+item.id}"></a>
						<div style="margin-top: 18px;">
							<span class="spanCreateTime1"
								th:text="${item.createTime}" ></span> <span
								class="spanHitCount"
								th:text="${'阅读量：'+item.hitCount}"></span>
						</div>
					</div>
					<a th:href="${'/common/news-catelog?id='+index.part3.id}">更多</a>
				</div>

				<div class="ui basic segment topleft"
					style="padding-left: 0px; width: 240px;">
					<h6 th:text="${index.part4.name}">首页</h6>
					<div class="ui segment bestlast"
						th:each="item,itemStat :${index.part4.list}">
						<img src="/css/index/images/index/Triangle.png" alt="" /> <a
							th:text="${item.title}"
							th:href="${'/common/news-view?id='+item.id}"></a>
						<div style="margin-top: 18px;">
							<span class="spanCreateTime1"
								th:text="${item.createTime}" ></span> <span
								class="spanHitCount"
								th:text="${'阅读量：'+item.hitCount}"></span>
						</div>
					</div>
					<a th:href="${'/common/news-catelog?id='+index.part4.id}">更多</a>
				</div>

			</div>


			<div class="ui horizontal basic segments" style="border: none;">
				<div class="ui basic segment topleft"
					style="padding-left: 0px; width: 240px;">
					<h6 th:text="${index.part5.name}">首页</h6>
					<div class="ui segment bestlast"
						th:each="item,itemStat :${index.part5.list}">
						<img src="/css/index/images/index/Triangle.png" alt="" /> <a
							th:text="${item.title}"
							th:href="${'/common/news-view?id='+item.id}"></a>
						<div style="margin-top: 18px;">
							<span class="spanCreateTime1"
								th:text="${item.createTime}" ></span> <span
								class="spanHitCount"
								th:text="${'阅读量：'+item.hitCount}"></span>
						</div>
					</div>
					<a th:href="${'/common/news-catelog?id='+index.part5.id}">更多</a>
				</div>



				<div class="ui basic segment topleft"
					style="padding-left: 0px; width: 240px;">
					<h6 th:text="${index.part6.name}">首页</h6>
					<div class="ui segment bestlast"
						th:each="item,itemStat :${index.part6.list}">
						<img src="/css/index/images/index/Triangle.png" alt="" /> <a
							th:text="${item.title}"
							th:href="${'/common/news-view?id='+item.id}"></a>
						<div style="margin-top: 18px;">
							<span class="spanCreateTime1"
								th:text="${item.createTime}" ></span> <span
								class="spanHitCount"
								th:text="${'阅读量：'+item.hitCount}"></span>
						</div>
					</div>
					<a th:href="${'/common/news-catelog?id='+index.part6.id}">更多</a>
				</div>

				<div class="ui basic segment topleft"
					style="padding-left: 0px; width: 240px;">
					<h6 th:text="${index.part7.name}">首页</h6>
					<div class="ui segment bestlast"
						th:each="item,itemStat :${index.part7.list}">
						<img src="/css/index/images/index/Triangle.png" alt="" /> <a
							th:text="${item.title}"
							th:href="${'/common/news-view?id='+item.id}"></a>
						<div style="margin-top: 18px;">
							<span class="spanCreateTime1"
								th:text="${item.createTime}"></span> <span
								class="spanHitCount"
								th:text="${'阅读量：'+item.hitCount}"></span>
						</div>
					</div>
					<a th:href="${'/common/news-catelog?id='+index.part7.id}">更多</a>
				</div>

			</div>
		</div>
	</div>

	<div style="margin-top: 100px;">
		<p style="text-align: center;font-size: 24px;">Designed by junbao</p>

	</div>
</body>
</html>