<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta content="text/html;charset=UTF-8" />
<title sec:authentication="name"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap/3.3.1/css/bootstrap.min.css}" />
<style type="text/css">
body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">公务员报考系统</a>
			</div>
			
		</div>
	</nav>


	<h1>这是首页</h1>
	<a th:href="@{/common/view-login}">登录</a>
	<a th:href="@{/common/veiw-register}">注册</a>

</body>
</html>